body {
    margin: 0px;
    padding: 0px;
    background-color: gray;
}

.mainDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcBody {
    width: 360px;
    height: 640px;
    background-color: #212121;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.screenContainer {
    width: 100%;
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 80%;
    height: 60%;
    background-color: #002db3;
    border-radius: 5px;
}

.btnsContainer {
    width: 100%;
    flex-basis: 66.66%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    width: 20%;
    height: 15%;
    box-sizing: border-box;
    font-size: x-large;
    background-color: #D3D3D3;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    cursor: pointer;
}

.operatorBtn {
    background-color: #a9bfff;
}